arrow
autobahn>=18.6.1
appdirs

binance

git+git://github.com/firepol/ccxt-websockets#egg=ccxt&subdirectory=python
cheroot
cryptography
cx_freeze
cython

distro

flask==1.1.1
flask_bootstrap
flask_compress
flask_talisman
flask_login
flask_otp
flask_jwt
flask_sqlalchemy
flask_sslify
flask_wtf
flask_cors

json_minify
lxml
psutil
numpy

onetimepass
pyopenssl
scrypt

packaging
pandas
persistent
pyasn1
pyopenssl
pyqrcode
pytest
python_binance

requests

sqlalchemy

ta-lib
twisted
service_identity>=18.1.0

wtforms
