arrow

binance

ccxt
cheroot
cryptography
cx_freeze
cython

flask
flask_bootstrap
flask_compress
flask_login
flask_otp
flask_sqlalchemy
flask_sslify
flask_wtf

json_minify

numpy

onetimepass

pandas
persistent
pyasn1
pyopenssl
pyqrcode
python_binance

requests
requests.certs

sqlalchemy

wtforms