arrow
autobahn>=18.6.1
appdirs

binance

ccxt
cheroot
cryptography
cx_freeze
cython

flask
flask_bootstrap
flask_compress
flask_talisman
flask_login
flask_otp
flask_jwt
flask_sqlalchemy
flask_sslify
flask_wtf
flask_jwt

json_minify
lxml
encodings
psutil
numpy

onetimepass
pyopenssl

packaging
pandas
persistent
pyasn1
pyopenssl
pyqrcode
pytest
python_binance

requests

sqlalchemy

ta-lib
twisted

wtforms
